/*
Author: W3layout
Author URL: http://rootcave.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: 'Source Sans Pro', sans-serif;
	background:#ffffff;
	font-weight: 300;
	font-size: 0.8924em;
	color: #555;
}
.wrap{
	width: 80%;
	margin: 0 auto;
}
/*header-bg*/
.header-bg{
	border-top: 5px solid #405E00;
	background: rgb(151,181,56);
	background: -moz-linear-gradient(top,  rgba(151,181,56,1) 17%, rgba(148,178,48,1) 47%, rgba(148,178,49,1) 78%, rgba(146,178,41,1) 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(151,181,56,1)), color-stop(47%,rgba(148,178,48,1)), color-stop(78%,rgba(148,178,49,1)), color-stop(99%,rgba(146,178,41,1)));
	background: -webkit-linear-gradient(top,  rgba(151,181,56,1) 17%,rgba(148,178,48,1) 47%,rgba(148,178,49,1) 78%,rgba(146,178,41,1) 99%);
	background: -o-linear-gradient(top,  rgba(151,181,56,1) 17%,rgba(148,178,48,1) 47%,rgba(148,178,49,1) 78%,rgba(146,178,41,1) 99%);
	background: -ms-linear-gradient(top,  rgba(151,181,56,1) 17%,rgba(148,178,48,1) 47%,rgba(148,178,49,1) 78%,rgba(146,178,41,1) 99%);
	background: linear-gradient(to bottom,  rgba(151,181,56,1) 17%,rgba(148,178,48,1) 47%,rgba(148,178,49,1) 78%,rgba(146,178,41,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97b538', endColorstr='#92b229',GradientType=0 );
}
.logo{
	float: left;
	padding: 1% 0 0;
}
.header-right{
	float:right;
}
/*  NAVIGATION */
.nav li:first-child{
	border-left: 1px ridge #758F27;
}
.nav li.active a{
	color:#97b538;
	background:url('../images/bg.png');
}
.nav li {
	line-height:4.8em; 
	display: block; 
	float: left; 
	clear: none;
}
.nav li:last-child{
	margin-right: 0; 
	border-right: 1px ridge #ADD533;
}
.nav a {
	font-family: 'Source Sans Pro', sans-serif;
	border-left: 1px ridge #ADD533;
	border-right: 1px ridge #628101;
	padding:12px 30px; 
	display: block; 
	color: #FFF;
	text-decoration:none;
	font-size:1.4em; 
}
.nav a:hover { 
	color:#97b538;
	background:url('../images/bg.png');
}
@media only screen and (max-width: 767px) {
	.nav .current{background:#666; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background:none; }
	.nav { margin:0; padding: 0; }
	.nav li { margin: 0; display: block; float: left; width: 100%; clear: none; background:none; }
	.nav a { padding: 0px; text-indent: 10px; color: #fff;	background: rgba(114, 136, 56, 1);	border-top: 1px solid rgb(129, 160, 49);  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
	.nav a:hover { border-bottom: none; }
}
/*content-bg*/
.content-bg{
	background: #FFFFFF url('../images/bg.png') repeat;
}
.main{
	padding:6% 0;
}
/*sidebar*/
.sidebar{
	float:left;
	width: 30.33%;
	margin-right:2.33%;
}
.content{
	float: right;
	width: 67.33%;
}
.text h2{
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;	
}
.text-para p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height:1.8em;
}
.text-para{
	margin-top: 4%;
}
.banner img{
	border-radius: 4px;
		-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
/* Button 2 */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-2 {
	color: #fff;
	box-shadow: 0 6px #779904;
	-webkit-box-shadow: 0 6px #779904;
	-moz-box-shadow: 0 6px #779904;
	-o-box-shadow: 0 6px #779904;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	background: rgb(151,181,56);
	background: -moz-linear-gradient(top,  rgba(151,181,56,1) 1%, rgba(148,178,49,1) 38%, rgba(148,178,47,1) 82%, rgba(146,178,42,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(151,181,56,1)), color-stop(38%,rgba(148,178,49,1)), color-stop(82%,rgba(148,178,47,1)), color-stop(100%,rgba(146,178,42,1)));
	background: -webkit-linear-gradient(top,  rgba(151,181,56,1) 1%,rgba(148,178,49,1) 38%,rgba(148,178,47,1) 82%,rgba(146,178,42,1) 100%);
	background: -o-linear-gradient(top,  rgba(151,181,56,1) 1%,rgba(148,178,49,1) 38%,rgba(148,178,47,1) 82%,rgba(146,178,42,1) 100%);
	background: -ms-linear-gradient(top,  rgba(151,181,56,1) 1%,rgba(148,178,49,1) 38%,rgba(148,178,47,1) 82%,rgba(146,178,42,1) 100%);
	background: linear-gradient(to bottom,  rgba(151,181,56,1) 1%,rgba(148,178,49,1) 38%,rgba(148,178,47,1) 82%,rgba(146,178,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97b538', endColorstr='#92b22a',GradientType=0 );
}
/* Button 2f */
.btn-2f {
	border-radius: 5px;
		-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 6px 0 #6D8B09;
	-webkit-box-shadow: 6px 0 #6D8B09;
	-moz-box-shadow: 6px 0 #6D8B09;
	-o-box-shadow: 6px 0 #6D8B09;
}
.btn-2f:hover {
	box-shadow: 4px 0 #779904;
	-webkit-box-shadow: 4px 0 #779904;
	-moz-box-shadow: 4px 0 #779904;
	-o-box-shadow: 4px 0 #779904;
	left: 2px;
}
.btn-2f:active {
	box-shadow: 0 0 #ab3c3c;
	left: 6px;
}
/*readmore*/
.readmore{
	margin-top: 6%;
}
/*text1*/
.text1{
	margin-top: 6%;
}
.text1 h2{
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;
}
.text1-nav{
	margin-top: 6%;
}
.text1-nav ul li{
	display:inline;
}
.text1-nav ul li a{
	display:block;
	font-size: 1.1em;
	color: #769B00;
	letter-spacing: 0px;
	line-height: 2.8em;
	border-bottom: 1px solid #EEEEEE;
}
.text1-nav ul li a:hover{
	color:#333;
}
.cont-para{
	margin-top: 1%;
}
.cont-para p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height: 1.8em;
}
span{
	color: #97b538;
}
.cont-left{
	float: left;
	width: 42.33%;
	margin-right: 2.33%;
}
.cont-right{
	float: right;
	width: 52.33%;
}
.cont-text1{
	margin-top: 6%;
}
.cont-text1 h2 {
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;
}
.cont-nav{
	margin-top: 6%;
}
.cont-nav ul li{
	display:inline;
}
.cont-nav ul li a{
	display:block;
	font-size: 1.1em;
	color:#769B00;
	letter-spacing: 0px;
	line-height: 2.8em;
	border-bottom: 1px solid #EEEEEE;
}
.cont-nav ul li a:hover{
	color:#333;
}
.cont-img {
	margin-top: 6%;
}
.cont-img img {
	border-radius: 4px;
		-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
/*footer*/
.footer-bg{
	padding:4% 0;
	background: #e5e5e5;
}
.footer h3{
	text-align: center;
	letter-spacing: 0.10em;
	font-weight: 700;
	font-size: 2em;
	color: #5c5c5c;	
}
.ftr-txt p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height: 1.8em;
}

.ftr-txt{
	margin-top: 3%;
}
/*footer1-bg*/
.footer1-bg{
	border-top: 1px solid rgb(214, 214, 214);
	background: #e0e0e0;
}
.footer1{
	padding:3% 0;
	text-align:center;
}
.footer1 p{
	line-height:1.8em;
	font-size:1.1em;
	color:#555;
}
.footer1 p.w3-link a{
	color:#7fb358;
}
.footer1 p.w3-link a:hover{
	text-decoration:underline;
}
/*About*/
/*cont-main*/
.about{
	float: left;
	width: 68.33%;
	margin-right: 2.33%;
}
.cont-grid {
	float: left;
	width: 61.33%;
	margin-right: 2.33%;
}
.about h3 {
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;
}
.cont-grid span{
	font-size: 1.1em;
	color:#7fb358;
}
.abt-para{
	margin-top: 3%;
}
.abt-para p{
	margin-top: 2%;
}
.cont-grid-img{
	width: 36.33%;
	float:left;
}
.cont-grid-img img{
	border-radius: 4px;
		-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
.cont-grid p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height: 1.8em;
}
.about-p{
	margin-top:20px;
}
.about-p p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height: 1.8em;
}
/*sidebar*/
.abt-sidebar{
	width:28.33%;
	float:right;
}
.grid h3 {
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;
}
.grid h3 a {
	color: #7fb358;
}
.grid1{
	margin:20px 0px;
}
.grid1 nav ul li img{
	vertical-align: bottom;
}
.grid1 nav ul li a{
	font-size: 1.1em;
	color: #7fb358;
	margin-left: 4px;
}
.grid1 p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height: 1.8em;
}
.border{
	padding-bottom: 6%;
	border-bottom: 1px dashed rgb(213, 213, 213);
}
.readmore1{
	margin-top: 3%;
}
.grid p.top{
	margin-top: 3%;
}
/*service*/
.ser-main{
	float: left;
	width: 68.33%;
	margin-right: 2.33%;
}
.ser-main h4{
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;
}
.ser-main h4 a{
	color: #7fb538;
}
.ser-para p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height: 1.8em;
}
.ser-grid{
	float:right;
}
.ser-grid-list:nth-last-child(2){
	margin-right: 0;
}
.ser-grid-list{
	float: left;
	width: 29.33%;
	margin-right: 5.33%;
}
.ser-grid-list h5{
	color: #A2A2A2;
	font-size:20px;
}
.ser-grid-list img{
	margin-top:15px;
	border: 4px solid #ffffff;
	box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
.ser-grid-list p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height: 1.8em;
}
.ser-rdmore {
	float:right;
	margin:30px 10px 40px 0px;
}
.ser-para {
	margin-bottom: 3%;
}
/***Contact*/
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 0% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_4{
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_2 {
	width: 29.2%;
	padding:1.5%; 
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	color:#555;
	display:block;
	font-size:1.1em;
	padding-bottom:5px;
}
.span_1_of_2 h3 {
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;
}
.span_2_of_4 h3 {
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;
}
.contact-form input[type="text"],.contact-form textarea{
	font-size:1.1em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #555;
	padding: 8px;
	display: block;
	width: 98%;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	outline: none;
	-webkit-appearance: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	cursor:pointer;
	padding: 8px 16px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	font-size: 1.2em;
	color: #fff;
	position: absolute;
	letter-spacing: 0px;
	right: 0;
	border: 1px solid #7EA824;
	background: rgb(151,181,56);
	background: -moz-linear-gradient(top, rgba(151,181,56,1) 17%, rgba(148,178,48,1) 47%, rgba(148,178,49,1) 78%, rgba(146,178,41,1) 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(151,181,56,1)), color-stop(47%,rgba(148,178,48,1)), color-stop(78%,rgba(148,178,49,1)), color-stop(99%,rgba(146,178,41,1)));
	background: -webkit-linear-gradient(top, rgba(151,181,56,1) 17%,rgba(148,178,48,1) 47%,rgba(148,178,49,1) 78%,rgba(146,178,41,1) 99%);
	background: -o-linear-gradient(top, rgba(151,181,56,1) 17%,rgba(148,178,48,1) 47%,rgba(148,178,49,1) 78%,rgba(146,178,41,1) 99%);
	background: -ms-linear-gradient(top, rgba(151,181,56,1) 17%,rgba(148,178,48,1) 47%,rgba(148,178,49,1) 78%,rgba(146,178,41,1) 99%);
	background: linear-gradient(to bottom, rgba(151,181,56,1) 17%,rgba(148,178,48,1) 47%,rgba(148,178,49,1) 78%,rgba(146,178,41,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97b538', endColorstr='#92b229',GradientType=0 );
	box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
}
.contact-form input[type="submit"]:hover{
	background:rgb(152, 185, 48);
}
.company_address p{
	padding:2px 0;
	font-size: 1.1em;
	line-height: 1.8em;
}
.company_address p span{
	color: #7fb538;
	cursor:pointer;
}
.company_address p span:hover{
	text-decoration:underline;
	color: #777;
	-webkit-transition:0.5s;
}
.map{
	border:1px solid #C7C7C7;
	margin:6% 0;
}
/*details*/
.details h2 {
	text-transform: capitalize;
	font-size: 2.2em;
	color: #333;
}
.details h2 span{
	color: #97b538;
}
.det-pic{
	padding:3% 0 0;
}
.det-pic img{
	border: 4px solid #ffffff;
		box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
}
.det-para{
	margin-top: 2%;
}
.det-para p{
	font-size: 1.1em;
	color: #555;
	letter-spacing: 0px;
	line-height: 1.8em;
}
/*404*/
.page{
	text-align:center;
}
.page h2{
	font-size: 12em;
	font-family: 'Raleway', sans-serif;
	color: #7fb538;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}

}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.sidebar {
		float: none;
		width: 100%;
		margin-right: 0%;
	}
	.readmore {
		margin-top: 3%;
	}
	
	.text1 {
	margin-top: 3%;
	}
	.text1-nav {
		margin-top: 3%;
	}
	.content {
		float: none;
		width: 100%;
		margin-top: 3%;
	}
	.cont-left {
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.cont-right{
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.cont-text1 {
		margin-top: 3%;
	}
	.cont-img {
		margin-top: 3%;
	}
	.about {
		float:none;
		width: 100%;
		margin-right: 0%;
	}
	.abt-sidebar {
		width: 100%;
		float: none;
	}
	.ser-main {
		float: none;
		width: 100%;
		margin-right:0%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.header-right {
		float: none;
	}
	.nav li:first-child{
		border-left:none;
	}
	.nav a {
		border-left:none;
		border-right:none;
	}
	.logo{
		float: none;
		padding: 0;
		text-align:center;
	}
	.sidebar {
		float: none;
		width: 100%;
		margin-right: 0%;
	}
	.readmore {
		margin-top: 3%;
	}
	.text1 {
		margin-top: 3%;
	}
	.text1-nav {
		margin-top: 3%;
	}
	.content {
		float: none;
		width: 100%;
		margin-top: 3%;
	}
	.cont-left {
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.cont-right{
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.cont-text1 {
		margin-top: 3%;
	}
	.cont-img {
		margin-top: 3%;
	}
	.about {
		float:none;
		width: 100%;
		margin-right: 0%;
	}
	.abt-sidebar {
		width: 100%;
		float: none;
	}
	.cont-grid {
		float: none;
		width: 100%;
		margin-right: 0%;
	}
	.cont-grid-img {
		display: none;
	}
	.ser-main {
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.ser-grid-list {
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.span_1_of_2 {
		width: 100%;
		padding:0%;
		float:none;
	}
	.span_2_of_4 {
		width: 100%;
		padding:0%;
		float:none;
	}
	.col {
		float:none;
		margin:0%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.header-right {
		float: none;
	}
	.nav li:first-child{
		border-left:none;
	}
	.nav a {
		border-left:none;
		border-right:none;
	}
	.logo{
		float: none;
		padding: 0;
		text-align:center;
	}
	.sidebar {
		float: none;
		width: 100%;
		margin-right: 0%;
	}
	.readmore {
		margin-top: 3%;
	}
	.text1 {
		margin-top: 3%;
	}
	.text1-nav {
		margin-top: 3%;
	}
	.content {
		float: none;
		width: 100%;
		margin-top: 3%;
	}
	.cont-left {
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.cont-right{
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.cont-text1 {
		margin-top: 3%;
	}
	.cont-img {
		margin-top: 3%;
	}
	.about {
		float:none;
		width: 100%;
		margin-right: 0%;
	}
	.abt-sidebar {
		width: 100%;
		float: none;
	}
	.cont-grid {
		float: none;
		width: 100%;
		margin-right: 0%;
	}
	.cont-grid-img {
		display: none;
	}
	.ser-main {
		float: none;
		width: 100%;
		margin-right:0%;
	}
	
	.ser-grid-list {
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.span_1_of_2 {
		width: 100%;
		padding:0%;
		float:none;
	}
	.span_2_of_4 {
		width: 100%;
		padding:0%;
		float:none;
	}
	.col {
		float:none;
		margin:0%;
	}
}


